<app-admin-header></app-admin-header>
<br>
<br>
<div class="container">
  <h1>Detailed Data</h1>
  <hr>
</div>

<div class="container">
  <div class="table-responsive">
    <p-table [value]="products" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th>Product</th>
          <th>Product Name</th>
          <th>Product Cost</th>
          <th>Description</th>
          <th>Status</th>
          <th>Operation</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td style="padding-left: 5%">
            <img src="{{product.imagePath}}" alt="" width="100px" height="100px">
          </td>
          <td  style="word-wrap:break-word">{{product.pname | uppercase}}</td>
          <td>{{product.pcost}}</td>
          <td>
            <p-scrollPanel [style]="{width: '100%', height: '200px'}">
              <div style="word-wrap:break-word" [innerHTML]="product.description"></div>
            </p-scrollPanel>
          </td>
          <td>{{product.status | uppercase}}</td>
          <td>
            <a class="btn btn-login" [routerLink]="['/adminDashboard/products/editp',product._id]">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <button type="button" class="btn btn-login" (click)="showDialog(product._id)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <hr>
  </div>
</div>

<p-dialog header="Delete" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
  [maximizable]="false" [baseZIndex]="10000">
  <span>Are you  sure !</span>
  <p-footer>
      <!-- <button button type="submit" class="btn btn-login" (click)=delete(product._id)>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </button> -->
    <button type="button"  class="btn btn-login"  (click)="display=false">No</button>
    <button type="button"   class="btn btn-login" (click)=delete(_id)>Yes</button>
  </p-footer>
</p-dialog>

<app-admin-footer></app-admin-footer>
