<header>
  <h1 style="background: #DE6262; color:#fff; font-weight:600;margin: 0px;padding-left: 5px">Marvels</h1>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="padding: 10px 20px">
    <a class="navbar-brand" routerLink="" style="font-size: 20px">Home</a>
    <a class="navbar-brand" routerLink="/login" style="font-size: 15px;margin-right: 3%">Login</a>
  </nav>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 banner-sec">
        <p-carousel [value]="pictures" numVisible="1">
          <ng-template let-item pTemplate="pictures">
            <img src="{{item.pic}}" alt="" width="727px" height="510px">
          </ng-template>
        </p-carousel>
      </div>
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Sign Up</h2>
        <form class="login-form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <div class="form-group pt-2">
            <span class="ui-float-label">
              <input id="float-input" type="text" class="form-control" formControlName="uname" pInputText>
              <label for="float-input">Username</label>
            </span>
            <div *ngIf="signUpForm.controls['uname'].touched && !signUpForm.controls['uname'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="signUpForm.controls['uname'].hasError('required')">User Name required.</span>
              <span *ngIf="signUpForm.controls['uname'].hasError('minlength')">User Name Must be less than 6 words.</span>
              <span *ngIf="signUpForm.controls['uname'].hasError('maxlength')">User Name Must be less than 10 words.</span>

            </div>
          </div>

          <div class="form-group pt-2">
            <span class="ui-float-label">
              <!-- <show-hide-password size="md"> -->
              <input id="float-input" type="password" class="form-control" formControlName="psw" pInputText>
              <!-- </show-hide-password> -->
              <label for="float-input" placholder="asd">Password</label>
            </span>
            <div *ngIf="signUpForm.controls['psw'].touched && !signUpForm.controls['psw'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="signUpForm.controls['psw'].hasError('required')">Password required.</span>
              <span *ngIf="signUpForm.controls['psw'].hasError('maxlength')">User Name Must be less than 8 words.</span>
            </div>
          </div>

          <div class="form-group pt-2">
            <span class="ui-float-label">
              <input id="float-input" type="email" class="form-control" formControlName="email" pInputText>
              <label for="float-input">Email Id</label>
            </span>
            <div *ngIf="signUpForm.controls['email'].touched && !signUpForm.controls['email'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="signUpForm.controls['email'].hasError('required')">Email required.</span>
              <span *ngIf="signUpForm.controls['email'].hasError('email')">Email Must be in valid pattern.</span>
            </div>
          </div>

          <div class="form-group pt-2">
            <span class="ui-float-label">
              <p-dropdown [options]="gender" [style]="{'width':'100%'}" formControlName="gender"></p-dropdown>
              <label for="float-input">Select Gender</label>
            </span>
            <div *ngIf="signUpForm.controls['gender'].touched && !signUpForm.controls['gender'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="signUpForm.controls['gender'].hasError('required')">Gender required.</span>
            </div>
          </div>

          <div class="form-group pt-2">
            <span class="ui-float-label">
              <p-calendar id="float-input" formControlName="bdate" [showIcon]="true"></p-calendar>
              <label for="float-input">Birth Date</label>
            </span>
            <div *ngIf="signUpForm.controls['bdate'].touched && !signUpForm.controls['bdate'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="signUpForm.controls['bdate'].hasError('required')">Birth Date required.</span>
            </div>
          </div>

          <div class="form-check">
            <button type="submit" class="btn btn-login float-right" [disabled]="!signUpForm.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="">
    <h2>Contacts</h2>
    <div class="row row-30" style="padding: 20px;">
      <div class="col-md-4">
        <dt>Address:</dt>
        <dd>24, Sita Nagar, Nagpur - 440025</dd>
      </div>
      <div class="col-md-4">
        <dt>Email:</dt>
        <dd>
          <a href="#">dkstudioin@gmail.com</a>
        </dd>
      </div>
      <div class="col-md-4">
        <dt>Phones:</dt>
        <dd>
          <a href="#">+91 7568543012</a>
          <span> or </span>
          <a href="#">+91 9571195353</a>
        </dd>
      </div>
    </div>
    <h2 style="font-size: 15px;padding-left: 40%;">©-2018 Commandos.  All Rights Reserved.</h2>
  </div>
</footer>