<app-admin-header></app-admin-header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="/assets/images/6.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>This is Heaven</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Add User</h2>
        <form class="login-form" [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
          <div class="form-group pt-2">
            <span class="ui-float-label">
              <input id="float-input" type="text" class="form-control" formControlName="uname" pInputText>
              <label for="float-input">Username</label>
            </span>
            <div *ngIf="addUserForm.controls['uname'].touched && !addUserForm.controls['uname'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="addUserForm.controls['uname'].hasError('required')">User Name required.</span>
              <span *ngIf="addUserForm.controls['uname'].hasError('minlength')">User Name Must be less than 6 words.</span>
              <span *ngIf="addUserForm.controls['uname'].hasError('maxlength')">User Name Must be less than 10 words.</span>
            </div>
          </div>

          <div class="form-group pt-2">
            <span class="ui-float-label">
              <!-- <show-hide-password size="md"> -->
                <input id="float-input" type="password" class="form-control" formControlName="psw" pInputText>
              <!-- </show-hide-password> -->
              <label for="float-input" placholder="asd">Password</label>
            </span>
            <div *ngIf="addUserForm.controls['psw'].touched && !addUserForm.controls['psw'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="addUserForm.controls['psw'].hasError('required')">Password required.</span>
              <span *ngIf="addUserForm.controls['psw'].hasError('maxlength')">User Name Must be less than 8 words.</span>
            </div>
          </div>

          <div class="form-group pt-2">
            <span class="ui-float-label">
              <input id="float-input" type="email" class="form-control" formControlName="email" pInputText>
              <label for="float-input">Email Id</label>
            </span>
            <div *ngIf="addUserForm.controls['email'].touched && !addUserForm.controls['email'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="addUserForm.controls['email'].hasError('required')">Email required.</span>
              <span *ngIf="addUserForm.controls['email'].hasError('email')">Email Must be in valid pattern.</span>
            </div>
          </div>

          <div class="form-group pt-2">
            <span class="ui-float-label">
              <p-dropdown [options]="gender" [style]="{'width':'100%'}" formControlName="gender"></p-dropdown>
              <label for="float-input">Select Gender</label>
            </span>
            <div *ngIf="addUserForm.controls['gender'].touched && !addUserForm.controls['gender'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="addUserForm.controls['gender'].hasError('required')">Gender required.</span>
            </div>
          </div>

          <!-- <div class="form-group pt-2">
            <span class="ui-float-label">
              <p-dropdown [options]="role" [style]="{'width':'100%'}" formControlName="role"></p-dropdown>
              <label for="float-input">Select Role</label>
            </span>
            <div *ngIf="addUserForm.controls['role'].touched && !addUserForm.controls['role'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="addUserForm.controls['role'].hasError('required')">Role required.</span>
            </div>
          </div> -->

          <div class="form-group pt-2">
            <span class="ui-float-label">
              <p-calendar id="float-input" formControlName="bdate" [showIcon]="true"></p-calendar>
              <label for="float-input">Birth Date</label>
            </span>
            <div *ngIf="addUserForm.controls['bdate'].touched && !addUserForm.controls['bdate'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="addUserForm.controls['bdate'].hasError('required')">Birth Date required.</span>
            </div>
          </div>

          <div class="form-check">
            <button type="submit" class="btn btn-login float-right" [disabled]="!addUserForm.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<app-admin-footer></app-admin-footer>
