<header>
  <h1 style="background: #DE6262; color:#fff; font-weight:600;margin: 0px;padding-left: 5px">Marvels</h1>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="padding: 10px 20px">
    <a class="navbar-brand" routerLink="" style="font-size: 20px">Home</a>
    <a class="navbar-brand" routerLink="/login" style="font-size: 15px;margin-right: 3%">Login</a>
  </nav>
</header>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 login-sec">
        <h2 class="text-center">Reset Password</h2>
        <form class="login-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group pt-2">
            <span class="ui-float-label">
              <input id="float-input" type="password" class="form-control" formControlName="psw" pInputText>
              <label for="float-input">Enter Your Password</label>
            </span>
            <div *ngIf="resetPasswordForm.controls['psw'].touched && !resetPasswordForm.controls['psw'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="resetPasswordForm.controls['psw'].hasError('required')">Password required.</span>
              <span *ngIf="resetPasswordForm.controls['psw'].hasError('maxlength')">User Name Must be less than 5 words.</span>
            </div>
          </div>

          <div class="form-group pt-2">
            <span class="ui-float-label">
              <input id="float-input" type="password" class="form-control" formControlName="psw2" pInputText>
              <label for="float-input">Confirm Password</label>
            </span>
            <div *ngIf="resetPasswordForm.controls['psw2'].touched && !resetPasswordForm.controls['psw2'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="resetPasswordForm.controls['psw2'].hasError('required')">Password required.</span>
              <span *ngIf="resetPasswordForm.controls['psw2'].hasError('maxlength')">User Name Must be less than 5 words.</span>
            </div>
          </div>
          <div class="form-check">
            <button type="submit" class="btn btn-login float-right" [disabled]="!resetPasswordForm.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="">
    <h2>Contacts</h2>
    <div class="row row-30" style="padding: 20px;">
      <div class="col-md-4">
        <dt>Address:</dt>
        <dd>24, Sita Nagar, Nagpur - 440025</dd>
      </div>
      <div class="col-md-4">
        <dt>Email:</dt>
        <dd>
          <a href="#">dkstudioin@gmail.com</a>
        </dd>
      </div>
      <div class="col-md-4">
        <dt>Phones:</dt>
        <dd>
          <a href="#">+91 7568543012</a>
          <span> or </span>
          <a href="#">+91 9571195353</a>
        </dd>
      </div>
    </div>
    <h2 style="font-size: 15px;padding-left: 40%;">©-2018 Commandos.  All Rights Reserved.</h2>
  </div>
</footer>