
section {padding: 50px 0;}
section .section-title {text-align: center;color: #4ec67f;text-transform: uppercase;}
#footer {background: #4ec67f !important;}
#footer h5{padding-left: 10px;border-left: 3px solid #eeeeee;color:#ffffff;}
#footer a {color: #ffffff;text-decoration: none !important;background-color: transparent;-webkit-text-decoration-skip: objects;}
#footer ul.social li{padding: 3px 0;}
#footer ul.social li a i {margin-right: 5px;font-size:25px;-webkit-transition: .5s all ease;-moz-transition: .5s all ease;transition: .5s all ease;}#footer ul.social li:hover a i {font-size:30px;margin-top:-10px;}
#footer ul.social li a,
#footer ul.quick-links li a{color:#ffffff;}
#footer ul.social li a:hover{	color:#eeeeee;}
#footer ul.quick-links li{padding: 3px 0;-webkit-transition: .5s all ease;-moz-transition: .5s all ease;transition: .5s all ease;}
#footer ul.quick-links li:hover{padding: 3px 0;margin-left:5px;font-weight:700;}
#footer ul.quick-links li a i{margin-right: 5px;}
#footer ul.quick-links li:hover a i {font-weight: 700;}
@media (max-width:767px){#footer h5 {padding-left: 0;border-left: transparent;padding-bottom: 0px;margin-bottom: 10px;}}
#icons:hover{height: 120px;-webkit-transition: width 2s; /* Safari */transition: width 2s;}