
<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-md-3">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>Home</a>
          </li>
          <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>About</a>
          </li>
          <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>FAQ</a>
          </li>
          <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>Get Started</a>
          </li>
          <li>
            <a href="javascript:void();">
              <i class="fa fa-angle-double-right"></i>Videos</a>
          </li>
          <li>
            <img src="/assets/images/groot.gif" alt="Marvel" id="icons" width="100%" height="120px"> -Im Groot!
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d405817.7712316993!2d78.9205381850737!3d21.068715045999785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c772d0488d0b%3A0xe3a6693e3acc8f82!2ssmartData+Enterprises+(I)+Ltd.!5e1!3m2!1sen!2sin!4v1539081923628"
          width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="section-title style2 text-center">
      <br>
      <a href="#">© the_Commmando 2018. All right reserved.</a>
    </div>
  </div>
</section>
<!-- ./Footer -->