<app-user-header></app-user-header>

<div class="container-fluid">
  <div class="row">
    <div id="demo" class="carousel slide" data-interval=3000 data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <!-- <li data-target="#demo" data-slide-to="2"></li> -->
      </ul>
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/images/MarvelStudios.jpg" alt="Marvel" width="100%" height="500">
        </div>
        <div class="carousel-item">
          <img src="/assets/images/c1.jpg" alt="Chicago" width="100%" height="500">
        </div>
        <!-- <div class="carousel-item">
          <img src="/assets/images/c3.jpg" alt="New York" width="100%" height="500">
        </div> -->
      </div>
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>


<div class="container">
  <div class="section-title style2 text-center" style="font-family: 'Source Sans Pro', sans-serif;padding: 10px;">
    <br>
    <h3>NEW ARRIVALS</h3>
    <br>
  </div>
  <div>
    <p-carousel [value]="products" numVisible="4" easing="easeOutStrong">
      <ng-template let-product pTemplate="item">
        <p-card title="{{product.pname | uppercase}}" subtitle="Rs. {{product.pcost}}" [style]="{width: '100%', height: '520px'}"
          styleClass="ui-card-shadow">
          <img src="{{product.imagePath}}" alt="" width="100%" height="200px" style="border-radius: 15%">
          <br>
          <br>
          <div style="height: 50%;">
            <p-scrollPanel [style]="{width: '100%', height: '73px'}">
              <div style="padding: 5px;word-wrap:break-word" [innerHTML]="product.description"></div>
            </p-scrollPanel>
          </div>
          <p-footer>
            <br>
            <br>
            <div class="section-title style2 text-center">
              <button button type="button" class="btn btn-login" (click)=addToCart(product._id,product.pcost)>Add to Cart</button>
            </div>
          </p-footer>
        </p-card>
      </ng-template>
    </p-carousel>
    <br>
    <br>
  </div>
</div>

<div style="height: 100%">
  <div class="jumbotron jumbotron-fluid" style="background-image: url('/assets/images/1.jpg');background-repeat: no-repeat;  background-position: center;background-size: cover;width: 100%;height: 100%;background-attachment: fixed;">
    <div class="container">
      <div class="section-title style2 text-center">
        <h1 class="display-3" style="color: whitesmoke">MARVEL CINEMATIC UNIVERSE</h1>
        <p class="lead" style="color: whitesmoke"> Know The Hidden / Latest Gossips Of Marvels. </p>
      </div>
      <hr class="my-2">
      <br>
      <br>
      <div class="section-title style2 text-center">
        <button button type="button" class="btn btn-blogs" routerLink="/dashboard/blog/listb">Check Blogs</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <br>
        <div class="container">
          <br>
          <p-card title="{{product.pname | uppercase}}" id="prod" subtitle="Rs. {{product.pcost}}" [style]="{width: '100%', height: '520px'}"
            styleClass="ui-card-shadow">
            <img src="{{product.imagePath}}" alt="" width="100%" height="200px" style="border-radius: 10%">
            <br>
            <br>
            <div style="height: 100px;">
              <p-scrollPanel [style]="{width: '100%', height: '85px'}">
                <div style="padding: 5px;word-wrap:break-word" [innerHTML]="product.description"></div>
              </p-scrollPanel>
            </div>
            <p-footer>
              <br>
              <div class="section-title style2 text-center">
                <button button type="button" class="btn btn-login" (click)=addToCart(product._id,product.pcost)>Add to Cart</button>
              </div>
            </p-footer>
          </p-card>
          <br>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div style="height:130px;">
      <img src="/assets/images/1.png" alt="Marvel" id="icons" width="10%" height="100px">
      <img src="/assets/images/2.png" alt="Marvel" id="icons" width="10%" height="100px">
      <img src="/assets/images/3.png" alt="Marvel" id="icons" width="10%" height="100px">
      <img src="/assets/images/4.png" alt="Marvel" id="icons" width="10%" height="100px">
      <img src="/assets/images/5.png" alt="Marvel" id="icons" width="10%" height="100px">
      <img src="/assets/images/6.png" alt="Marvel" id="icons" width="10%" height="100px">
      <img src="/assets/images/11.png" alt="Marvel" id="icons" width="10%" height="100px">
      <img src="/assets/images/12.png" alt="Marvel" id="icons" width="10%" height="100px">
      <img src="/assets/images/13.png" alt="Marvel" id="icons" width="10%" height="100px">
      <img src="/assets/images/14.png" alt="Marvel" id="icons" width="10%" height="100px">
    </div>
  </div>
</div>
<br>

<div style="height: 300px">
  <div class="jumbotron jumbotron-fluid" style="background-image: url('/assets/images/4.jpg');background-repeat: no-repeat;  background-position: center;background-size: cover;width: 100%;height: 100%;background-attachment: fixed;">
    <div class="container">
      <div class="section-title style2 text-center">
        <h1 class="display-3" style="color: whitesmoke">TRUSTED SELLERS 500+</h1>
        <p class="lead" style="color: whitesmoke"> Know The Hidden / Latest Gossips Of Marvels. </p>
      </div>
    </div>
  </div>
</div>

<app-user-footer></app-user-footer>