<app-admin-header></app-admin-header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="/assets/images/6.jpg" alt="First slide">
                        </div>
                    </div>
                    <br>
                    <h2>This is Heaven</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
            </div>
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Add Products</h2>
                <form class="login-form" [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
                    <div class="form-group pt-2">
                        <span class="ui-float-label">
                            <input id="float-input" type="text" size="30" class="form-control" formControlName="pname" pInputText>
                            <label for="float-input">Product Name</label>
                        </span>
                        <div *ngIf="addProductForm.controls['pname'].touched && !addProductForm.controls['pname'].valid" class="cross-validation-error-message alert alert-danger">
                            <span *ngIf="addProductForm.controls['pname'].hasError('required')">Product Name required.</span>
                            <span *ngIf="addProductForm.controls['pname'].hasError('maxlength')">Product Name Must be less than 20 words.</span>
                        </div>
                    </div>

                    <div class="form-group pt-2">
                        <span class="ui-float-label">
                            <input id="float-input" type="number" size="30" class="form-control" formControlName="pcost" pInputText>
                            <label for="float-input">Product Cost</label>
                        </span>
                        <div *ngIf="addProductForm.controls['pcost'].touched && !addProductForm.controls['pcost'].valid" class="cross-validation-error-message alert alert-danger">
                            <span *ngIf="addProductForm.controls['pcost'].hasError('required')">Product Cost required.</span>
                            <span *ngIf="addProductForm.controls['pcost'].hasError('maxlength')">Product Cost Must be less than 5 digits.</span>
                        </div>
                    </div>

                    <div class="form-group pt-2">
                        <span class="ui-float-label">
                            <p-editor formControlName="description" [style]="{'height':'120px'}"></p-editor>
                        </span>
                        <div *ngIf="addProductForm.controls['description'].touched && !addProductForm.controls['description'].valid" class="cross-validation-error-message alert alert-danger">
                            <span *ngIf="addProductForm.controls['description'].hasError('required')">description required.</span>
                            <span *ngIf="addProductForm.controls['description'].hasError('minlength')">description Must be more than 50 words.</span>
                        </div>
                    </div>

                    <div class="form-group pt-2">
                        <span class="ui-float-label">
                            <p-dropdown [options]="status" [style]="{'width':'100%'}" formControlName="status"></p-dropdown>
                            <label for="float-input">Select Status</label>
                        </span>
                        <div *ngIf="addProductForm.controls['status'].touched && !addProductForm.controls['status'].valid" class="cross-validation-error-message alert alert-danger">
                            <span *ngIf="addProductForm.controls['status'].hasError('required')">Status required.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="imagePath" class="text-uppercase">Upload Image</label>
                        <input type="file" id="imagePath" (change)="onUpload($event)" #fileInput>
                    </div>

                    <div class="form-check">
                        <button type="submit" class="btn btn-login float-right" [disabled]="!addProductForm.valid">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<app-admin-footer></app-admin-footer>