<app-admin-header></app-admin-header>

<div class="container">
  <div class="container">
    <br>
    <br>
    <h3>#Edit Blog:</h3>
    <br>
    <hr>
  </div>
  <div class="container">
    <form class="login-form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="newtitle" class="text-uppercase">Title</label>
            <input type="text" class="form-control" placeholder="Blog Title" formControlName="newtitle">
          </div>
          <div class="form-group">
            <span class="ui-float-label">
              <p-editor formControlName="newdescription" [style]="{'height':'120px'}"></p-editor>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <br>
              <img [src]="localUrl" *ngIf="localUrl" alt="" width="150px" height="150px">
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <br>
                <label for="imagePath" class="text-uppercase">Upload Image</label>
                <br>
                <input type="file" id="imagePath" (change)="onUpload($event)" #fileInput>
              </div>
            </div>
          </div>
          <div class="form-check">
            <br>
            <br>
            <br>
            <button type="submit" class="btn btn-login float-right">Submit</button>
          </div>
        </div>
      </div>
    </form>
    <hr>
  </div>
</div>
<app-admin-footer></app-admin-footer>