.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
footer{padding: 5px;background: #343a40!important};
h2,h5,dt{color: rgb(247, 247, 247)};
a,dd{color: #DE6262; font-size: 15px};
section{padding: 50px}
#option{padding: 5% 20%}
.btn-login{background: #DE6262; color:#fff; font-weight:600;margin:5px}
.btn-info{color:#fff; font-weight:600;margin:5px}