<header>
  <h1 style="background: #DE6262; color:#fff; font-weight:600;margin: 0px;padding-left: 5px">Marvels</h1>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="padding: 10px 20px">
    <a class="navbar-brand" routerLink="" style="font-size: 20px;">Home</a>
  </nav>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="../../assets/images/6.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>This is Heaven</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Login Now</h2>
        <form class="login-form" [formGroup]="logInForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" class="form-control" formControlName="uname" pInputText>
              <label for="float-input">Username</label>
            </span>
            <div *ngIf="logInForm.controls['uname'].touched && !logInForm.controls['uname'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="logInForm.controls['uname'].hasError('required')">User Name required.</span>
              <span *ngIf="logInForm.controls['uname'].hasError('maxlength')">User Name Must be less than 20 words.</span>
            </div>
          </div>
          <div class="form-group pt-2">
            <span class="ui-float-label">
              <input id="float-input" type="password" size="30" class="form-control" formControlName="psw" pInputText>
              <label for="float-input">Password</label>
            </span>
            <div *ngIf="logInForm.controls['psw'].touched && !logInForm.controls['psw'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="logInForm.controls['psw'].hasError('required')">Password required.</span>
              <span *ngIf="logInForm.controls['psw'].hasError('maxlength')">User Name Must be less than 5 words.</span>
            </div>
          </div>

          <div class="form-group" id="option">
            <button type="submit" class="btn btn-login" id="login">Submit</button>
            <a class="btn btn-info" routerLink="/login/signUp">SignUp</a>
            <br>
            <a class="btn" routerLink="forgotPassword"> Forgot Password ?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <h2>Contacts</h2>
    <div class="row" style="padding: 20px;">
      <div class="col-md-4">

        <dt>Address:</dt>
        <dd>24, Sita Nagar, Nagpur - 440025</dd>

      </div>
      <div class="col-md-4">

        <dt>Email:</dt>
        <dd>
          <a href="#">dkstudioin@gmail.com</a>
        </dd>
      </div>
      <div class="col-md-4">

        <dt>Phones:</dt>
        <dd>
          <a href="#">+91 7568543012</a>
          <span> or </span>
          <a href="#">+91 9571195353</a>
        </dd>
      </div>
    </div>
    <h2 style="font-size: 15px;padding-left: 40%;">©-2018 Commandos.  All Rights Reserved.</h2>
  </div>
</footer>