<nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/adminDashboard">
          <i class="fa fa-tachometer" aria-hidden="true"> Dashboard</i>
        </a>
      </li>
      <li class="nav-item">
        <div class="btn-group" dropdown>
          <a id="button-basic" dropdownToggle type="" class="btn dropdown-toggle" aria-controls="dropdown-basic">
            <i class="fa fa-user" aria-hidden="true"> User Management</i>
          </a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/adminDashboard/users/listu">
                <i class="fa fa-list" aria-hidden="true"> User Listing</i>
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/adminDashboard/users/addu">
                <i class="fa fa-plus" aria-hidden="true"> Add Users</i>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="btn-group" dropdown>
          <a id="button-basic" dropdownToggle type="" class="btn dropdown-toggle" aria-controls="dropdown-basic">
            <i class="fa fa-plus" aria-hidden="true"> Product Management</i>
          </a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/adminDashboard/products/listp">
                <i class="fa fa-list" aria-hidden="true"> Product Listing</i>
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/adminDashboard/products/addp">
                <i class="fa fa-plus" aria-hidden="true"> Add Products</i>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <div class="btn-group" dropdown>
          <a id="button-basic" dropdownToggle type="" class="btn dropdown-toggle" aria-controls="dropdown-basic">
            <i class="fa fa-th-large" aria-hidden="true"> Blog Management</i>
          </a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/adminDashboard/blogs/listb">
                <i class="fa fa-list" aria-hidden="true"> Blog Listing</i>
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" routerLink="/adminDashboard/blogs/addb">
                <i class="fa fa-plus" aria-hidden="true"> Add Blog</i>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="btn-group" dropdown>
    <a id="button-basic" dropdownToggle type="" class="btn dropdown-toggle" aria-controls="dropdown-basic">Hello {{uname}} !</a>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
      <li role="menuitem">
        <a class="dropdown-item btn" (click)=onClick()>
          <i class="fa fa-user" aria-hidden="true"> Edit Profile</i>
        </a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item btn" routerLink="/adminDashboard/users/changePassword">
          <i class="fa fa-key" aria-hidden="true"> Chg Password</i>
        </a>
      </li>
      <hr>
      <li role="menuitem">
        <a class="dropdown-item btn" (click)=logout()>
          <i class="fa fa-sign-out" aria-hidden="true"> Logout</i>
        </a>
      </li>
    </ul>
  </div>
</nav>