.btn-login{background: #DE6262; color:#fff; font-weight:600;}
a{padding: 3px;font-size: 17px;margin-right: 25px}
#button-basic{color: rgb(192, 221, 221)}
.navbar-brand{color: rgb(211, 69, 69);font-size: 20px}
.dropdown-item{padding:2px 0px 2px 20px}
nav{padding: 13px}