
<app-admin-header></app-admin-header>

<div class="container">
  <div class="container">
    <br>
    <br>
    <h3>Edit Product:</h3>
    <br>
  </div>
  <div class="container">
    <form class="login-form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="newpname" class="text-uppercase">Product</label>
            <input type="text" class="form-control" placeholder="Game Name" formControlName="newpname">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="newpcost" class="text-uppercase">Product Cost</label>
            <input type="number" class="form-control" placeholder="Product Cost" formControlName="newpcost">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <span class="ui-float-label">
              <p-editor formControlName="newdescription" [style]="{'height':'120px'}"></p-editor>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="newstatus" class="text-uppercase">Status</label>
            <select class="form-control" id="newstatus" formControlName="newstatus">
              <option value="out-of-stock">Out of Stock</option>
              <option value="in-stock">In-Stock</option>
            </select>
          </div>
          <div class="row">
            <div class="col-md-4">
              <img [src]="localUrl" *ngIf="localUrl" alt="" width="150px" height="150px">
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label for="imagePath" class="text-uppercase">Upload Image</label>
                <br>
                <input type="file" id="imagePath" (change)="onUpload($event)" #fileInput>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-check">
        <button type="submit" class="btn btn-login float-right">Submit</button>
      </div>
    </form>
  </div>
  <br><br><br>
</div>
<app-admin-footer></app-admin-footer>


