<app-user-header></app-user-header>

<div class="container">
  <br><br>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-center text-uppercase">Edit Profile</h2>
    </div>
  </div>
  <br>
  <br>
  <form class="form" [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <label for="newuname" class="text-uppercase">User Name</label>
        <input type="text" class="form-control" placeholder="User Name" formControlName="newuname">
      <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <label for="newgender" class="text-uppercase">Gender</label>
        <select class="form-control" id="newgender" formControlName="newgender">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <label for="newemail" class="text-uppercase">Email Address</label>
        <input type="email" class="form-control" placeholder="Email Address" formControlName="newemail">
      <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="form-check">
          <br>
          <button type="submit" class="btn btn-login float-right">Submit</button>
        </div>
      </div>
    </div>
    <br>
  </form>
  <br>
  <br>
</div>

<app-user-footer></app-user-footer>