<footer>
    <div class="container-fluid">
        <br>
        <h2>Contacts:</h2>
        <div class="row" style="padding: 20px;">
            <div class="col-md-4">
                <dt>Address:</dt>
                <dd>24, Sita Nagar, Nagpur - 440025</dd>
            </div>
            <div class="col-md-4">
                <dt>Email:</dt>
                <dd>
                    <a href="#">marvels.of.india.007@gmail.com</a>
                </dd>
            </div>
            <div class="col-md-4">
                <dt>Phones:</dt>
                <dd>
                    <a href="#">+91 7568543012</a>
                    <span> | </span>
                    <a href="#">+91 9571195353</a>
                </dd>
            </div>
        </div>
        <h2 style="font-size: 15px;padding-left: 40%;">©-2018 Commandos.  All Rights Reserved.</h2>
    </div>
</footer>