<h1 style="background: #DE6262; color:#fff; font-weight:600;margin: 0px;padding-left: 5px"> Marvels </h1>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <a class="navbar-brand" routerLink="/">Home</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" routerLink="/servicePages/faq">Faq</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" routerLink="/servicePages/privacyPolicies">Privacy Policies</a>
            </li>
        </ul>
    </div>
    <div class="btn-group" dropdown>
        <a class="navbar-brand" id="login" routerLink="/login">{{opt}}</a>
    </div>
</nav>
<div class="banner-sec">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block img-fluid" src="../../assets/images/MarvelStudios.jpg" alt="First slide">
                <!-- <div class="carousel-caption d-none d-md-block">
                    <div class="banner-text">
                        <h2>This is Heaven</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding: 40px 20px">
    <div class="row">
        <div class="col-md-4 login-sec">
            <img class="d-block img-fluid" src="../../assets/images/7.png" width="150px" height="150px" alt="First slide">
            <h2>Moh-Man</h2>
            <p>Hi there, Bob. I’m writing to ask if you wouldn’t mind giving us a short testimonial for our website. <br>
                Thank you, Bob!</p>
        </div>
        <div class="col-md-4 login-sec">
            <img class="d-block img-fluid" src="../../assets/images/2.png" width="150px" height="150px" alt="First slide">
            <h2>Chittah</h2>
            <p>Now it’s almost like having a designer right here with me. I just choose the page, make the change and click save. It’s so simple.
                <br> "Thanks, guys!”
                    </p>
        </div>
        <div class="col-md-4 login-sec">
            <img class="d-block img-fluid" src="../../assets/images/8.png" width="150px" height="150px" alt="First slide">
            <h2>Mrut-Boy</h2>
            <p>“Wow. I just updated my site and it was SO SIMPLE. I am blown away. You guys truly kick ass. Thanks for being so awesome. High fives!”</p>
        </div>
    </div>
</div>
<footer>
    <div class="container-fluid">
        <h2>Contacts:</h2>
        <div class="row" style="padding: 20px;">
            <div class="col-md-4">
                <dt>Address:</dt>
                <dd>24, Sita Nagar, Nagpur - 440025</dd>
            </div>
            <div class="col-md-4">
                <dt>Email:</dt>
                <dd>
                    <a href="#">marvels.of.india.007@gmail.com</a>
                </dd>
            </div>
            <div class="col-md-4">
                <dt>Phones:</dt>
                <dd>
                    <a href="#">+91 7350326329</a>
                    <span> | </span>
                    <a href="#">+91 9571195353</a>
                </dd>
            </div>
        </div>
        <h2 style="font-size: 15px;padding-left: 40%;">©-2018 Commandos.  All Rights Reserved.</h2>
    </div>
</footer>