li{padding:0px 20px;}
.container-fluid{padding: 5px;background: #212529;width: 100%};
h2,h5,dt{color: rgb(247, 247, 247)};
a,dd{color: #DE6262; font-size: 15px};.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}           
footer{padding: 5px;background: #212529};
nav{padding: 10px}
.navbar-brand{font-size: 17px;padding:0px  10px}
#login{font-size: 19px;color: #DE6262;padding:0px  13px}