<h1 style="background: #DE6262; color:#fff; font-weight:600;margin: 0px;padding-left: 5px"> Marvels </h1>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <a class="navbar-brand" routerLink="/">Home</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand" routerLink="/servicePages/faq">Faq</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" routerLink="/servicePages/privacyPolicies">Privacy Policies</a>
            </li>
        </ul>
    </div>
    <div class="btn-group" dropdown>
        <a class="navbar-brand" id="login" routerLink="/login">{{opt}}</a>
    </div>
</nav>
<section>
        <div class="container-fluid">
            <div class="row">
                <h2 class="text-center" style="margin: 0px;padding-left: 20px">Privacy Policy</h2>
                <img src="/assets/images/l5.jpg" alt="" width="100%">
            </div>
        </div>
    </section>
<footer>
    <div class="container-fluid">
        <h2>Contacts:</h2>
        <div class="row" style="padding: 20px;">
            <div class="col-md-4">
                <dt>Address:</dt>
                <dd>24, Sita Nagar, Nagpur - 440025</dd>
            </div>
            <div class="col-md-4">
                <dt>Email:</dt>
                <dd>
                    <a href="#">commmando@gmail.com</a>
                </dd>
            </div>
            <div class="col-md-4">
                <dt>Phones:</dt>
                <dd>
                    <a href="#">+91 7568543012</a>
                    <span> | </span>
                    <a href="#">+91 9571195353</a>
                </dd>
            </div>
        </div>
        <h2 style="font-size: 15px;padding-left: 40%;">©-2018 Commandos.  All Rights Reserved.</h2>
    </div>
</footer>