<app-admin-header></app-admin-header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="/assets/images/6.jpg" alt="First slide">
            </div>
          </div>
          <h2>This is Heaven</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>
      </div>
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Add Blog</h2>
        <form class="login-form" [formGroup]="addBlogForm" (ngSubmit)="onSubmit()">
          <div class="form-group pt-2">
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" class="form-control" formControlName="title" pInputText>
              <label for="float-input">Title of Blog</label>
            </span>
            <div *ngIf="addBlogForm.controls['title'].touched && !addBlogForm.controls['title'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="addBlogForm.controls['title'].hasError('required')">Title required.</span>
              <span *ngIf="addBlogForm.controls['title'].hasError('minlength')">Title Must be less than 50 words.</span>
            </div>
          </div>
          <div class="form-group pt-2">
            <span class="ui-float-label">
              <p-editor formControlName="description" [style]="{'height':'120px'}"></p-editor>
            </span>
            <div *ngIf="addBlogForm.controls['description'].touched && !addBlogForm.controls['description'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="addBlogForm.controls['description'].hasError('required')">description required.</span>
              <span *ngIf="addBlogForm.controls['description'].hasError('minlength')">description Must be more than 150 words.</span>
            </div>
          </div>
          <div class="form-group pt-2">
            <span class="ui-float-label">
              <p-calendar id="float-input" formControlName="date" size="30" [showIcon]="true"></p-calendar>
              <label for="float-input">Date</label>
            </span>
            <div *ngIf="addBlogForm.controls['date'].touched && !addBlogForm.controls['date'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="addBlogForm.controls['date'].hasError('required')">Date required.</span>
            </div>
          </div>
          <div class="form-group pt-2">
            <label for="imp" class="text-uppercase">Upload Image</label>
            <input type="file" id="img" (change)="onUpload($event)" #fileInput>
          </div>
          <div class="form-check">
            <button type="submit" class="btn btn-login float-right" [disabled]="!addBlogForm.valid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-admin-footer></app-admin-footer>