<app-user-header></app-user-header>


<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-md-9">
      <h2>Shopping Cart</h2>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th></th>
            <th></th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cart of carts">
            <td style="width: 106px">
              <img src="{{cart.productId.imagePath}}" alt="" width="100px" height="100px">
            </td>
            <td>
              <div style="color: rgb(17, 77, 85);font-size: 20px">{{cart.productId.pname | uppercase}}</div>
              <span style="color: rgb(9, 104, 9); font-size: 10px">
                {{cart.productId.status | uppercase}}</span>
              <br>
              <br>
              <button type="button" class="btn btn-outline-dark btn-sm" (click)="showDeleteFromCart(cart._id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
            <td>
              Rs.{{cart.productId.pcost}}
            </td>
            <td style="width: 80px">
              <p-spinner size="5" [(ngModel)]="cart.quantity" [min]="1" (onChange)="updateCart(cart.productId._id,cart.productId.pcost,cart.quantity)"></p-spinner>
              <!-- {{cart.quantity}} -->
            </td>
            <td style="width: 120px;color: red">
              Rs.{{cart.total}}
            </td>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Total:</th>
            <th style="width: 120px;color: #4ec67f">Rs. {{sum}}</th>
          </tr>
        </tbody>
      </table>
      <div>
        <br>
        <br>
        <p style="color: rgb(17, 77, 85);font-size: 13px">
          The price and availability of items at Marvels.in are subject to change. The shopping cart is a temporary place to store
          a list of your items and reflects each item's most recent price. Do you have a promotional code? We'll ask you
          to enter your claim code when it's time to pay.</p>
      </div>
    </div>
    <div class="col-md-3">
      <br>
      <br>
      <br>
      <br>
      <div style="border: 1px solid rgb(214, 214, 214); padding: 10px;">
        <p style="color: rgb(9, 104, 9); font-size: 13px"> Part of your order qualifies for FREE Delivery</p>
        <hr>
        <span style="color: rgb(17, 77, 85);font-size: 20px">Total:</span>
        <span style="color:black;font-size: 20px"> Rs. {{sum}}</span>
        <br>
        <button type="button" class="btn btn-login btn-md" (click)="showDialog()">
          Proceed to Checkout
          <i class="fa fa-plane" aria-hidden="true"></i>
        </button>
      </div>
      <!-- <div>
        <img src="assets/images/verticalMarvel.jpg" style="width: 255px;height: 535px;" alt="">
      </div> -->
    </div>
  </div>
</div>
<div class="container">
  <div class="section-title style2" style="font-family: 'Source Sans Pro', sans-serif;padding: 10px;">
    <br>
    <h3>Customers who bought items in your Recent History also bought</h3>
    <br>
  </div>
  <div class="p-carousel">
    <p-carousel [value]="products" numVisible="4">
      <ng-template let-product pTemplate="cards">
        <p-card title="{{product.pname | uppercase}}" subtitle="Rs. {{product.pcost}}" [style]="{width: '100%', height: '520px'}"
          styleClass="ui-card-shadow">
          <img src="{{product.imagePath}}" alt="" width="100%" height="200px" style="border-radius: 15%">
          <br>
          <br>
          <div style="height: 50%;">
            <p-scrollPanel [style]="{width: '100%', height: '73px'}">
              <div style="padding: 5px;word-wrap:break-word" [innerHTML]="product.description"></div>
            </p-scrollPanel>
          </div>
          <p-footer>
            <br>
            <br>
            <div class="section-title style2 text-center">
              <button button type="button" class="btn btn-login" (click)=addToCart(product._id,product.pcost)>Add to Cart</button>
            </div>
          </p-footer>
        </p-card>
        <br>
      </ng-template>
    </p-carousel>
    <br>
    <br>
  </div>
</div>

<div style="height: 100%">
  <div class="jumbotron jumbotron-fluid" style="background-image: url('/assets/images/1.jpg');background-repeat: no-repeat;  background-position: center;background-size: cover;width: 100%;height: 100%;background-attachment: fixed;">
    <div class="container">
      <div class="section-title style2 text-center">
        <h1 class="display-3" style="color: whitesmoke">MARVEL CINEMATIC UNIVERSE</h1>
        <p class="lead" style="color: whitesmoke">Bhrammand Ke Rakshak! </p>
      </div>
      <hr class="my-2">
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>

<app-user-footer></app-user-footer>

<p-dialog header="Delete From Cart" [(visible)]="deleteFromCart" [modal]="true" [responsive]="true" [width]="550" [minWidth]="200"
  [minY]="70" [maximizable]="false" [baseZIndex]="10000">
  <span>Are You Sure ?</span>
  <p-footer>
    <button type="button" class="btn btn-login" (click)="deleteFromCart=false">No</button>
    <button type="button" class="btn btn-login" (click)=deleteCart(cartId)>Yes</button>
  </p-footer>
</p-dialog>


<p-dialog header="Checkout" [(visible)]="display" [modal]="true" [responsive]="true" [width]="550" [height]="850" [minWidth]="200"
  [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <div>
    <h5 class="text-center">Address</h5>
    <form class="address-form" [formGroup]="addressForm" (ngSubmit)="showPlaceOrder()">

      <div class="form-group pt-2">
        <span class="ui-float-label">
          <input id="float-input" type="text" class="form-control" formControlName="street" pInputText>
          <label for="float-input">Adderss</label>
        </span>
        <div *ngIf="addressForm.controls['street'].touched && !addressForm.controls['street'].valid" class="cross-validation-error-message alert alert-danger">
          <span *ngIf="addressForm.controls['street'].hasError('required')">Street required.</span>
          <span *ngIf="addressForm.controls['street'].hasError('maxlength')">Street Must be less than 50 letters.</span>
        </div>
      </div>

      <div class="form-group pt-2">
        <span class="ui-float-label">
          <p-dropdown [options]="city" [style]="{'width':'100%'}" formControlName="city"></p-dropdown>
          <label for="float-input">Select City</label>
        </span>
        <div *ngIf="addressForm.controls['city'].touched && !addressForm.controls['city'].valid" class="cross-validation-error-message alert alert-danger">
          <span *ngIf="addressForm.controls['city'].hasError('required')">City required.</span>
        </div>
      </div>

      <div class="form-group pt-2">
        <span class="ui-float-label">
          <input id="float-input" type="number" class="form-control" formControlName="pincode" pInputText>
          <label for="float-input">Pincode</label>
        </span>
        <div *ngIf="addressForm.controls['pincode'].touched && !addressForm.controls['pincode'].valid" class="cross-validation-error-message alert alert-danger">
          <span *ngIf="addressForm.controls['pincode'].hasError('required')">Pincode required.</span>
        </div>
      </div>

      <div class="form-group pt-2">
        <span class="ui-float-label">
          <input id="disabled-input" type="text" placeholder="Maharashtra" class="form-control" pInputText [disabled]="disabled" />
        </span>
      </div>

      <div class="form-group pt-2">
        <span class="ui-float-label">
          <input id="disabled-input" type="text" placeholder="India" class="form-control" pInputText [disabled]="disabled" />
        </span>
      </div>

      <!-- <h5 class="text-center">Payment Method</h5>
      <div class="form-group pt-2">
        <span class="ui-float-label">
          <input id="disabled-input" type="text" placeholder="Cash On Delivery" class="form-control" pInputText [disabled]="disabled" />
        </span>
      </div> -->

      <!-- <div class="form-group pt-2">
        <span class="ui-float-label">
          <p-dropdown [options]="paymentMethod" [style]="{'width':'100%'}" formControlName="paymentMethod"></p-dropdown>
        </span>
        <div *ngIf="addressForm.controls['paymentMethod'].touched && !addressForm.controls['paymentMethod'].valid" class="cross-validation-error-message alert alert-danger">
          <span *ngIf="addressForm.controls['paymentMethod'].hasError('required')">PaymentMethod required.</span>
        </div>
      </div> -->

      <div class="form-check">
        <button type="submit" class="btn btn-login float-right" [disabled]="!addressForm.valid">Place Order</button>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog header="Place Order" [(visible)]="placeOrder" [modal]="true" [responsive]="true" [width]="550" [minWidth]="200"
  [minY]="70" [maximizable]="false" [baseZIndex]="10000">
  <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
    <div class="form-row">
      <label for="card-info">Card Info</label>
      <div id="card-info"  style="width: 500px"  #cardInfo></div>
  
      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>
  
    <button type="submit">Pay ${{sum}}</button>
  </form>
</p-dialog>