<app-admin-header></app-admin-header>

<div class="container">
  <div class="container mx-auto">
    <br>
    <br>
    <h3>Edit User:</h3>
    <br>
  </div>
  <div class="container">
    <form class="form" [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div>
            <label for="newuname" class="text-uppercase">User Name</label>
            <input type="text" class="form-control" placeholder="User Name" formControlName="newuname">
          </div>
          <br>
          <div>
            <label for="newemail" class="text-uppercase">Email Address</label>
            <input type="email" class="form-control" placeholder="Email Address" formControlName="newemail">
          </div>
        </div>
        <div class="col-md-6">
          <!-- <div>
            <label for="newrole" class="text-uppercase">Role</label>
            <select class="form-control" id="newrole" formControlName="newrole">
              <option value="admin">Admin</option>
              <option value="user">User</option>
            </select>
          </div> -->
          <div>
            <label for="newgender" class="text-uppercase">Gender</label>
            <select class="form-control" id="newgender" formControlName="newgender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </div>
          <br>
          <div class="form-check">
            <br>
            <br>
            <button type="submit" class="btn btn-login float-right">Submit</button>
            <br>
            <br>
          </div>
        </div>
      </div>
    </form>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>

<app-admin-footer></app-admin-footer>