<app-user-header></app-user-header>


<div class="container">
  <br>
  <h2>#Orders</h2>
  <br>
  <div *ngFor="let order of data">
    <div class="row">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th colspan="2">{{order.date | date: 'fullDate'}}</th>
            <th>Quantity</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cart of order.cartData">
            <td style="width: 106px">
              <img src="{{cart.productId.imagePath}}" alt="" width="100px" height="100px">
            </td>
            <td>
              <div style="color: rgb(17, 77, 85);font-size: 20px">{{cart.productId.pname | uppercase}}</div>
              <br>
              <br>
              <div style="width: 120px;color:rgb(9, 104, 9);">Rs.{{cart.productId.pcost}}</div>
            </td>
            <td style="width: 80px">
              {{cart.quantity}}
            </td>
            <td style="width: 120px;color: red">
              Rs.{{cart.total}}
            </td>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th>Total:</th>
            <th style="width: 120px;color: #4ec67f">Rs. {{order.total}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div style="height: 100%">
  <div class="jumbotron jumbotron-fluid" style="background-image: url('/assets/images/1.jpg');background-repeat: no-repeat;  background-position: center;background-size: cover;width: 100%;height: 100%;background-attachment: fixed;">
    <div class="container">
      <div class="section-title style2 text-center">
        <h1 class="display-3" style="color: whitesmoke">MARVEL CINEMATIC UNIVERSE</h1>
        <p class="lead" style="color: whitesmoke">Bhrammand Ke Rakshak! </p>
      </div>
      <hr class="my-2">
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>

<app-user-footer></app-user-footer>