a{padding: 3px;font-size: 17px;margin-right: 25px}
#button-basic{color: rgb(255, 255, 255);font-size: 18px}
#button-basic:hover{color: rgb(17, 77, 85);font-size: 18px}
.navbar-brand{font-size: 18px;color:  rgb(17, 77, 85);font-weight:bold;}
.dropdown-item{padding:2px 0px 2px 20px}
.btn-login{background: #4ec67f; color:#fff;}
nav{background: #4ec67f;padding: 13px;}