<nav class="navbar sticky-top navbar-expand-sm  navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/dashboard">
          <i class="fa fa-tachometer" aria-hidden="true"> Dashboard</i>
        </a>
      </li>
      <li class="nav-item">
        <a id="button-basic" routerLink="/dashboard/product/listp">
          <i class="fa fa-shopping-cart" aria-hidden="true"> Shop</i>
        </a>
      </li>
      <li class="nav-item">
        <a id="button-basic" routerLink="/dashboard/blog/listb">
          <i class="fa fa-inbox" aria-hidden="true"> Blogs</i>
        </a>
      </li>
      <li class="nav-item">
        <a id="button-basic" routerLink="/dashboard/product/cart">
          <i class="fa fa-shopping-cart" aria-hidden="true"> Cart</i>
        </a>
      </li>
    </ul>
  </div>
  <div class="btn-group" dropdown>
    <a id="button-basic" dropdownToggle type="" class="btn dropdown-toggle" aria-controls="dropdown-basic">Hello {{uname}} !</a>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
      <li role="menuitem">
        <a class="dropdown-item btn" routerLink="/dashboard/product/orders">
          <i class="fa fa-shopping-cart" aria-hidden="true">My Orders</i>
        </a>
      </li>
      <hr>
      <li role="menuitem">
        <a class="dropdown-item btn" routerLink="/dashboard/users/editProfile">
          <i class="fa fa-user" aria-hidden="true"> Edit Profile</i>
        </a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item btn" routerLink="/dashboard/users/changePassword">
          <i class="fa fa-key" aria-hidden="true"> Chg Password</i>
        </a>
      </li>
      <hr>
      <li role="menuitem">
        <a class="dropdown-item btn" (click)=logout()>
          <i class="fa fa-sign-out" aria-hidden="true"> Logout</i>
        </a>
      </li>
    </ul>
  </div>
</nav>