<app-user-header></app-user-header>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 login-sec">
        <br>
        <br>
        <br>
        <h2 class="text-center text-uppercase">Change Password</h2>
        <br>
        <br>
        <form class="login-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group pt-2">
            <span class="ui-float-label">
              <input id="float-input" type="password" class="form-control" formControlName="newpsw" pInputText>
              <label for="float-input">Enter Your Password</label>
            </span>
            <div *ngIf="changePasswordForm.controls['newpsw'].touched && !changePasswordForm.controls['newpsw'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="changePasswordForm.controls['newpsw'].hasError('required')">Password required.</span>
              <span *ngIf="changePasswordForm.controls['newpsw'].hasError('maxlength')">User Name Must be less than 5 words.</span>
            </div>
          </div>

          <div class="form-group pt-2">
            <span class="ui-float-label">
              <input id="float-input" type="password" class="form-control" formControlName="psw2" pInputText>
              <label for="float-input">Confirm Password</label>
            </span>
            <div *ngIf="changePasswordForm.controls['psw2'].touched && !changePasswordForm.controls['psw2'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="changePasswordForm.controls['psw2'].hasError('required')">Password required.</span>
              <span *ngIf="changePasswordForm.controls['psw2'].hasError('maxlength')">User Name Must be less than 5 words.</span>
            </div>
          </div>
          <div class="form-check">
            <br>
            <button type="submit" class="btn btn-login float-right" [disabled]="!changePasswordForm.valid">Submit</button>
            <br>
          </div>
        </form>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</section>
<app-user-footer></app-user-footer>