<app-user-header></app-user-header>
<img src=".../../assets/images/11.jpg" alt="" width="100%">
<!-- <div class="container" style="padding: 40px 20px">
    <div class="row">
        <div class="col-md-4 login-sec">
            <img class="d-block img-fluid" src="../../assets/images/7.jpg" alt="First slide">
            <h2>This is Heaven</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>
        <div class="col-md-4 login-sec">
            <img class="d-block img-fluid" src="../../assets/images/7.jpg" alt="First slide">
            <h2>This is Heaven</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>
        <div class="col-md-4 login-sec">
            <img class="d-block img-fluid" src="../../assets/images/7.jpg" alt="First slide">
            <h2>This is Heaven</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        </div>
    </div>
</div> -->
<app-user-footer></app-user-footer>