<app-user-header></app-user-header>

<div class="container">
  <br>
  <h1>BLOGs</h1>
  <hr>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12" *ngFor="let blog of blogs">
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <br>
            <p-card title="{{blog.title | uppercase}}" subtitle="{{blog.date | date}}" [style]="{width: '360px'}" styleClass="ui-card-shadow">
              <img src="{{blog.img}}" alt="" width="100%" height="250px">
              <p-footer>
                <div [innerHTML]="blog.description"></div>
                <p-rating [ngModel]="blog.rating" readonly="true" stars="5" [cancel]="false"></p-rating>
              </p-footer>
            </p-card>
            <br>
          </div>
          <div class="col-md-6">
            <h5>
              <ul>Comments:</ul>
            </h5>
            <p-scrollPanel [style]="{width: '100%', height: '200px'}">
              <div class="col-md-12">
                <div *ngFor="let comm of blog.comments">
                  <br>
                  <p-card subtitle="{{comm.userId | uppercase}}" [style]="{width: '360px'}" styleClass="ui-card-shadow">
                    <p-footer>
                      <div style="padding: 5px;word-wrap:break-word">
                        {{comm.comment}}
                      </div>
                      <p-rating [ngModel]="comm.rating" readonly="true" stars="5" [cancel]="false"></p-rating>
                    </p-footer>
                  </p-card>
                  <br>
                </div>
              </div>
            </p-scrollPanel>
            <hr>
            <div>
              <br>
              <form class="login-form" [formGroup]="addCommentForm" (ngSubmit)="onSubmit(blog._id)">
                <div class="form-group pt-2">
                  <span class="ui-float-label">
                    <textarea [rows]="4" class="form-control" formControlName="comment" pInputTextarea autoResize="autoResize"></textarea>
                    <label for="float-input">Add Comment</label>
                  </span>
                </div>
                <div class="form-group pt-2">
                  <p-rating formControlName="rating" [cancel]="false"></p-rating>
                </div>

                <div class="form-check">
                  <button type="submit" class="btn btn-login float-right" [disabled]="!addCommentForm.valid">
                    <i class="fa  fa-paper-plane" aria-hidden="true"></i>
                  </button>
                </div>
              </form>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

<app-user-footer></app-user-footer>