<app-admin-header></app-admin-header>
<br>
<br>
<div class="container">
  <h1>Detailed Data</h1>
  <hr>
</div>

<div class="container">
  <div class="table-responsive">
    <p-table [value]="blogs" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th>Blog</th>
          <th>Title</th>
          <th>description</th>
          <th>Date</th>
          <th>Rating</th>
          <th>Operation</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-blog>
        <tr>
          <td style="padding-left: 5%">
            <img src="{{blog.img}}" alt="" width="100px" height="100px">
          </td>
          <td>{{blog.title | uppercase}}</td>
          <td>
            <p-scrollPanel [style]="{width: '100%', height: '194px'}">
              <div [innerHTML]="blog.description"></div>
            </p-scrollPanel>
          </td>
          <td>{{blog.date | date}}</td>
          <td>
            <p-rating [ngModel]="blog.rating" readonly="true" stars="5" [cancel]="false"></p-rating>
          </td>
          <td>
            <a class="btn btn-login" [routerLink]="['/adminDashboard/blogs/editb',blog._id]">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <!-- <button button type="submit" class="btn btn-login" (click)=delete(blog._id)>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button> -->

            <button type="button" class="btn btn-login" (click)="showDailog(blog._id)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>

            <button type="button" class="btn btn-login" (click)="showComments(blog._id)">
              <i class="fa fa-comment" aria-hidden="true"></i>
            </button>

          </td>
        </tr>
      </ng-template>
    </p-table>
    <hr>
  </div>
</div>
<app-admin-footer></app-admin-footer>


















<!-- Dailog Starts -->
<p-dialog header="Comments Box" [(visible)]="displayComments" [modal]="true" [responsive]="true" [width]="650" [height]="600"
  [minWidth]="200" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <div class="container">
    <div class="table-responsive">
      <p-scrollPanel [style]="{width: '100%', height: '250px'}">
        <p-table [value]="comments" [paginator]="false" [rows]="4">
          <ng-template pTemplate="header">
            <tr>
              <th>User Name</th>
              <th>Comments</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-xy>
            <tr>
              <td style="word-wrap:break-word">{{xy.userId}}</td>
              <td>
                <p-scrollPanel [style]="{width: '100%', height: '50px'}">
                  <div style="word-wrap:break-word">{{xy.comment}}</div>
                </p-scrollPanel>
              </td>
            </tr>
          </ng-template>
        </p-table>
        </p-scrollPanel>
        <hr>
    </div>
  </div>
  <p-footer>
    <div>
      <form class="login-form" [formGroup]="addCommentForm" (ngSubmit)="onSubmit(BlogId)">
        <div class="form-group pt-3">
          <span class="ui-float-label">
            <textarea [rows]="3" class="form-control" formControlName="comment" pInputTextarea autoResize="autoResize"></textarea>
            <label for="float-input">Add Comment</label>
          </span>
        </div>
        <div class="form-check pt-0">
          <button type="submit" class="btn btn-login float-right" [disabled]="!addCommentForm.valid">
            <i class="fa  fa-paper-plane" aria-hidden="true"></i>
          </button>
        </div>
      </form>
      <br>
      <br>
    </div>
  </p-footer>
</p-dialog>
<!-- Dailog Ends -->

<p-dialog header="Delete" [(visible)]="displayDailog" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
  [maximizable]="false" [baseZIndex]="10000">
  <span>Are you sure !</span>
  <p-footer>
    <!-- <button button type="submit" class="btn btn-login" (click)=delete(user._id)>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </button> -->
    <button type="button" class="btn btn-login" (click)="displayDailog=false">No</button>
    <button type="button" class="btn btn-login" (click)=delete(_id)>Yes</button>
  </p-footer>
</p-dialog>