<app-admin-header></app-admin-header>

<div class="container">
  <div class="container">
    <br>
    <h2 class="header-title style2 text-center" >Edit Profile</h2>
    <!-- <img src=".../../assets/images/l1.png" alt="First slide" height="110px" width="100%"> -->
  </div>
  <br>
  <br>
  <br>
  <form class="form" [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <label for="newuname" class="text-uppercase">User Name</label>
        <input type="text" class="form-control" placeholder="User Name" formControlName="newuname">
        <br>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-8 offset-md-2">
        <label for="newrole" class="text-uppercase">Role</label>
        <select class="form-control" id="newrole" formControlName="newrole">
          <option value="admin">Admin</option>
          <option value="user">User</option>
        </select>
        <br>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <label for="newemail" class="text-uppercase">Email Address</label>
        <input type="email" class="form-control" placeholder="Email Address" formControlName="newemail">
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <label for="newgender" class="text-uppercase">Gender</label>
        <select class="form-control" id="newgender" formControlName="newgender">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="form-check">
          <button type="submit" class="btn btn-login float-right">Submit</button>
        </div>
      </div>
    </div>
    <br>
  </form>
</div>

<app-admin-footer></app-admin-footer>
