<app-admin-header></app-admin-header>
<br>
<br>
<div class="container">
  <h1>Users Data</h1>
  <hr>
</div>

<div class="container">
  <div class="table-responsive">
    <!-- <table class="table table-striped">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Password</th>
          <th>Email</th>
          <th>Birth Date</th>
          <th>Gender</th>
          <th>Role</th>
          <th>Operations</th>
        </tr>
      </thead>
    <tbody id="tableFilter">
        <tr *ngFor="let user of users">
          <td>{{user.uname}}</td>
          <td>{{user.psw}}</td>
          <td>{{user.email}}</td>
          <td>{{user.bdate | date}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.role | uppercase}}</td>
          <td>
            <a class="btn btn-login" [routerLink]="['/adminDashboard/users/editu',user._id]">Edit</a>
            <button button type="submit" class="btn btn-login" (click)=delete(user._id)>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>  -->
    <p-table [value]="users" [paginator]="true" [rows]="4">
      <ng-template pTemplate="header">
        <tr>
          <th>User Name</th>
          <!-- <th>Password</th> -->
          <th>Email</th>
          <th>Birth Date</th>
          <th>Gender</th>
          <th>Role</th>
          <th>Operations</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{user.uname}}</td>
          <!-- <td>{{user.psw}}</td> -->
          <td  style="word-wrap:break-word">{{user.email}}</td>
          <td>{{user.bdate | date}}</td>
          <td>{{user.gender | uppercase}}</td>
          <td>{{user.role | uppercase}}</td>
          <td style="padding-left: 1%">
            <a class="btn btn-login" [routerLink]="['/adminDashboard/users/editu',user._id]">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
            <button type="button" class="btn btn-login" (click)="showDialog(user._id)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <hr>
  </div>
</div>
<app-admin-footer></app-admin-footer>









<p-dialog header="Delete" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
  [maximizable]="false" [baseZIndex]="10000">
  <span>Are you sure !</span>
  <p-footer>
    <!-- <button button type="submit" class="btn btn-login" (click)=delete(user._id)>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </button> -->
    <button type="button" class="btn btn-login" (click)="display=false">No</button>
    <button type="button" class="btn btn-login" (click)=delete(_id)>Yes</button>
  </p-footer>
</p-dialog>